* {
    border: 0;
    margin: 0;
    padding: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

:active,
:focus,
a:active,
a:focus {
    outline: none
}

aside,
footer,
header,
nav {
    display: block
}

body,
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    font-size: 14px;
    height: 100%;
    line-height: 1;
    width: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

a,
a:hover,
a:visited {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

html {
    font-family: Roboto, sans-serif
}

div {
    background-color: #fff
}

.container,
.title {
    height: 100%;
    width: 100%
}

.title {
    line-height: 48px;
    position: relative;
    text-align: center
}

.text-title,
.title {
    display: inline-block
}

.text-title {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: medium;
    margin: 0;
    vertical-align: middle
}

.back-icon {
    bottom: 0;
    display: inline-block;
    height: 24px;
    left: 22px;
    margin: auto;
    position: absolute;
    top: 0
}

.btntab {
    background-color: #d4d4d4;
    border-radius: 10px;
    padding: 2px;
}

.btntab:after {
    clear: both;
    content: "";
    display: table
}

.btntab input[type=radio] {
    display: none
}

.btntab label {
    color: #000000;
    display: block;
    float: left;
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
    width: 50%
}

.btntab label:hover {
    color: #7a7575
}

.btntab [id^=tab-btn]:checked+label {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    }

.tab {
    border-bottom: 2px solid #f2f2f2;
    padding: 18px
}

.img-upload,
.middle {
    height: 100%;
    width: 100%
}

.img-upload,
.input-img {
    display: block
}

.input-img {
    margin: 40% 40px;
    width: 80%
}

.input-file {
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1
}

.input-file+label {
    border: 1px solid #f14635;
    border-radius: 20px;
    color: #f14635;
    display: block;
    font-size: large;
    line-height: 60px;
    text-align: center
}

.input-file+label:hover,
.input-file:focus+label {
    background-color: #f14635;
    color: #fff
}

#document {
    height: 70vh;
    width: 100%
}

.rekvizit {
    display: inline-block;
    height: 120vh;
    width: 100%
}

.rekvizit li {
    border-bottom: 1px solid #f2f2f2
}

.rekvizit li img {
    display: inline-block;
    height: 21px;
    position: relative;
    right: 0;
    width: 26px
}

.atritem {
    color: #a8a8a8;
    font-size: 12px;
    margin: 14px 0 0 16px
}

.atritem,
.rekitem {
    display: inline-block;
    font-family: sans-serif
}

.rekitem {
    color: #4a4a4a;
    font-size: 18px;
    margin: 8px 0 18px 18px;
    width: 85%
}

.btnfooter button {
    font-size: 19px;
    line-height: 65px;
    width: 100%
}

.btnfooter img {
    display: inline-block;
    margin: auto;
    position: relative;
    right: 10px;
    top: 20px;
    width: 26px
}

.share img {
    height: 26px;
    right: 6px;
    top: 18px;
    width: 28px
}

.btnfooter #btnftr1 {
    background-color: #0189cf;
    color: #fff;
    border-radius: 10px;
}

.share {
    background-color: #fff;
    color: #0189cf
}

.btnfooter {
    padding: 20px 17.5px 14.5px
}

.footer {
    bottom: 0;
    position: -webkit-sticky;
    position: sticky
}

/*# sourceMappingURL=main.8a688537.css.map*/